html, body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
#wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
#map{
    flex: 2 1 auto;
}
#panel{
    background-color: green;
    flex: none;
}
#info{
    width: 90%;
    text-align: center;
}
#stadium{
    font-family: 'Rancho';
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#left{
    width: 90%;
    font-weight: bold;
    font-family: 'Rancho';
    font-size: 20px;
}
#graph{
    width: 500px;
    height: 300px;
    align-content: center;
}
#newPic{
    width: 500px;
    height: 200px;
}
.button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: slategray;
    color: white;
}
#team, #year, #attendance, #time, #hr, #ticket{
    font-family: 'Gudea';
    font-size: 15px;
}
.tooltip{
    position: absolute;
    height: 80px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    font-family: 'Gudea';
}
.title{
    font-family: 'Rancho';
}
.stadiumPic{
    padding-left: 25px;
}
@media screen and (max-width: 768px){
    #wrapper{
        flex-direction: column;
    }
    #map{
        flex: 2 1 auto;
        order: 1;
        margin: 0;
        min-height: 50vh;
    }
    #panel{
        order: 2;
        max-width: 100%;
        overflow: auto;
    }
}