html, body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
#wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
#map{
    flex: 2 1 auto;
}
#panel{
    background-color: green;
    flex: none;
}
#info{
    padding-top: 100px;
    width: 90%;
}
#stadium{
    font-family: 'Times New Roman';
    text-align: center;
    font-weight: bold;
}
#left{
    width: 90%;
    font-weight: bold;
    font-family: 'Times New Roman';
}
#graph{
    width: 300px;
    height: 200px;
}
#newPic{
    width: 500px;
    height: 200px;
    background-color: azure;
}
@media screen and (max-width: 768px){
    #wrapper{
        flex-direction: column;
    }
    #map{
        flex: 2 1 auto;
        order: 1;
        margin: 0;
        min-height: 50vh;
    }
    #panel{
        order: 2;
        max-width: 100%;
        overflow: auto;
    }
}